name: Release

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  id-token: write
  packages: write
  pull-requests: write

jobs:
  test:
    uses: ./.github/workflows/ci.yml

  release:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          python -m pip install '.[dev]'
      - name: Run Behave with coverage
        run: |
          export COVERAGE_PROCESS_START=.coveragerc
          coverage erase
          coverage run -m behave
          coverage combine
          coverage report --fail-under=100
      - name: Semantic Release
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python -m semantic_release publish --verbosity=DEBUG --token $GH_TOKEN --pypi_token $PYPI_TOKEN
